<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1><%= link_to 'Wikinimous', root_path %></h1>
      <h3><%= link_to 'New Article', articles_new_path %></h3>
    </nav>
    <%= yield %>
  </body>
</html>
